<!DOCTYPE html>
<html>
<head>
  <title>Payment</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="Mycss.css">
</head>
<body background="img/bg.jpg">
    <div class="card" style="width: 800px;margin-top:100px;margin-left:550px;border-radius:7px;border: 3px solid;border-radius: 5px;">
      <div class="card-header text-center"><h3>ใบเสร็จชำระเงิน</h3></div>
      <div class="card-body">
      <center><img src="img/711pic.png" class="rounded" alt="Cinque Terre" width="400" height="150"></center>
      <form action="#">
      <fieldset style="padding-left: 100px;">
      <label for="card-number" style="font-size: 15px;padding-top: 16px;">บริษัท : Bus Online Ticket</label>
      <label for="card-number" style="font-size: 15px;padding-top: 16px;">ชื่อผู้ชำระเงิน : $$$$$$$$$$$$$$$$</label>
      <label for="card-number" style="font-size: 15px;padding-top: 16px;">ช้อมูลตั๋ว</label>
      <label for="card-number" style="font-size: 15px;padding-top: 16px;">เล้นทาง : Bkk-Cnx</label>
      <label for="card-number" style="font-size: 15px;padding-top: 16px;">เวลา : 16:00</label>
      <label for="card-number" style="font-size: 15px;padding-top: 16px;">วันที่ออกเดินทาง : 2018-04-27</label>
      <label for="card-number" style="font-size: 15px;padding-top: 16px;">ที่นั่ง : $$$$</label>
      <label for="card-number" style="font-size: 15px;padding-top: 16px;">ประเภทรถ : Normal</label>
    </fieldset>
    <center><img src="img/bc.png" class="rounded" alt="Cinque Terre" width="400" height="125" style="padding-top: 20px;"></center>
      </div>
      <div class="card-footer">
        <a class="btn btn-success" href="#" role="button">Submit</a>
        <a class="btn btn-secondary" href="index.html" role="button">Back</a>
        <a class="btn btn-info" href="#" role="button" style="float: right;">Print</a>
      </div>
      </form>
      </div>
</body>
</html>