<!DOCTYPE html>
<html>
<head>
  <title>Payment</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="Mycss.css">
</head>
<body background="img/bg.jpg">

    <div class="card" style="width: 800px;margin-top:100px;margin-left:550px;border-radius: 7px;border: 4px solid black;
  border-radius: 7px;">
      <div class="card-header text-center"><h3>ข้อมูลการเดินทาง</h3></div>
      <div class="card-body">
      <div class="row" style="padding-left:100px;">
        <div class="col-2" style="padding-right:0px;">ชื่อ</div>
        <div class="col-8" align="left">$$$$$$$$$$$$$$</div>
      </div>
      <br>
      <div class="row" style="padding-left:100px;">
        <div class="col-2" style="padding-right:0px;">ต้นทาง</div>
        <div class="col-10" align="left">$$$$$$$$$$$$$$</div>
      </div>
      <br>
      <div class="row" style="padding-left:100px;">
        <div class="col-2" style="padding-right:0px;">ปลายทาง</div>
        <div class="col-10" align="left">$$$$$$$$$$$$$$</div>
      </div>
      <br>
      <div class="row" style="padding-left:100px;">
        <div class="col-2" style="padding-right:0px;">เวลา</div>
        <div class="col-10" align="left">$$$$$$$$$$$$$$</div>
      </div>
      <br>
      <div class="row" style="padding-left:100px;">
        <div class="col-2" style="padding-right:0px;">วันที่</div>
        <div class="col-10" align="left">$$$$$$$$$$$$$$</div>
      </div>
      <br>
      <div class="row" style="padding-left:100px;">
        <div class="col-2" style="padding-right:0px;">ที่นั่ง</div>
        <div class="col-10" align="left">$$$$$$$$$$$$$$</div>
      </div>
      <br>
      <div class="row" style="padding-left:100px;">
        <div class="col-2" style="padding-right:0px;">ประเภทรถ</div>
        <div class="col-10" align="left">$$$$$$$$$$$$$$</div>
      </div>
      <br>
      </div>
    </div>

    <div class="card" style="width: 800px;margin-top:100px;margin-left:550px;border-radius: 7px;border: 4px solid black;
  border-radius: 7px;">
      <div class="card-header text-center"><h3>ยอดเงินชำระ</h3></div>
      <div class="card-body">
      <div class="row" style="padding-left:10px;">
        <div class="col-8" style="padding-right:0px;">ราคาตั๋ว</div>
        <div class="col-4" align="right">$$$ Baht</div>
      </div>
      <br>
      <div class="row" style="padding-left:10px;">
        <div class="col-8" style="padding-right:0px;">ค่าธรรมเนียม</div>
        <div class="col-4" align="right">$$$ Baht</div>
      </div>
      </div>
      <div class="card-footer">
        <div class="row" style="padding-left:10px;">
        <div class="col-8" style="padding-right:0px;">ราคารวม</div>
        <div class="col-4" align="right">$$$ Baht</div>
      </div>
      </div>
    </div>

    <div class="card" style="width: 800px;margin-top:100px;margin-left:550px;border-radius: 7px;border: 4px solid black;
  border-radius: 7px;">
      <div class="card-header text-center">ช่องทางการชำระเงิน</div>
      <div class="card-body">
      <form action="####" style="padding:10px;">
        <input type="radio" name="payment_id" value="credit" checked> Credit Card<br><br>
        <input type="radio" name="payment_id" value="7-11"> 7-11<br><br>
        <hr>
        <a class="btn btn-success" href="credit_form.html" role="button">Submit</a>
        <a class="btn btn-secondary" href="index.html" role="button">Back</a>
      </div>
      </div>
      <br><br>
</body>
</html>